<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Developer's Network - Details</title>
    <link type="text/css" rel="stylesheet" href="../../client/stylesheets/main.css">
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../bower_components/octicons/octicons/octicons.css">
</head>
<body ng-app="myApp" ng-cloak>

<header class="container" ng-controller="mainCtrl">
    <h1>Details</h1>
    <a href="/"><button class="bToList">Back To List</button></a>
    <follow-single-user></follow-single-user>
</header>

<hr/>


<main class="container" ng-controller="detailsCtrl">
    <div class="detailsLeft">
        <img src={{info.avatar_url}}>
        <h1 class="devName">{{info.name}}</h1>
        <h1 class="devLogin">{{info.login}}</h1>
        <h1><span class="mega-octicon octicon-organization"></span>{{info.company}}</h1>
        <h1 class="devMail"><span class="mega-octicon octicon-mail"></span><a href={{info.email}}>{{info.email}}</a> </h1>
        <br>
        <h1 class="devMail"><span class="mega-octicon octicon-link"></span>
            <a class="relativePos" href={{info.blog}} target=_blank>{{info.blog}}</a></h1>
        <br/>
        <a href="http://maps.google.com/?q={{info.location.zip}} {{info.location.city || info.location}}" target=_blank>
            <h1 class="devMail">
                <span class="mega-octicon octicon-location"></span>
                {{info.location.state}} {{info.location.city || info.location}}
            </h1>
        </a>
        <p>{{info.bio}}</p>

        <div>
            <ul>
                <li>{{info.following}}
                    <span>Following </span>
                </li>

                <li>{{info.followers | nrFormat}}
                    <span>Followers </span>
                </li>

                <li>{{info.public_repos}}
                    <span>Repositories </span>
                </li>

            </ul>
        </div>
    </div>



    <section class="friendsList" ng-controller="detailsCtrl">

        <h1>Direct Friends:</h1>

        <ul ng-repeat="(key, value) in directFriends">
            <a href="/api/user/{{key}}"><li>{{value.name.charAt(0).toUpperCase() + value.name.slice(1)}} - #{{key}} </li></a>
        </ul>

    </section>

    <section class="friendsOfFriends">

        <h1>Friends Of Friends:</h1>
        <ul ng-repeat="(key, value) in friendsOfFriends">
            <a href="/api/user/{{key}}"><li ng-if="key != id && value != false">{{value.name}} - #{{key}}</li></a>
        </ul>

    </section>

    <section class="suggestedFriends">
        <h1>Suggested friends:</h1>
        <!--<ul ng-if="suggestedFriend != undefined">-->
            <!--<a href="/api/user/{{suggestedFriend.id}}"><li ng-if="info.id != suggestedFriend.id">{{suggestedFriend.name}} - #{{suggestedFriend.id}}</li></a>-->
        <!--</ul>-->

        <ul ng-repeat="i in rndsFriends">
            <a href="/api/user/{{i.id}}"><li ng-if="info.name != i.name">{{i.name}} - #{{i.id}}</li></a>
        </ul>

    </section>

    <section class="mutualLocation">
        <h1>Same Location:</h1>

        <ul ng-repeat="(key, value) in mutualLocation" class="mutualLocation">
            <a href="/api/user/{{value.id}}">
                <li ng-if="info.location.city === value.location && info.login != key
                && value.location != undefined">
                    {{value.name.charAt(0).toUpperCase() + value.name.slice(1)}} - #{{value.id}}
                </li>
            </a>
        </ul>


    </section>

    <div class="clear"></div>



</main>


<script src="../../bower_components/angular/angular.js"></script>
<script src="../../bower_components/jquery/dist/jquery.js"></script>
<script src="../../client/app.js"></script>
<script src="../../bower_components/angular-route/angular-route.js"></script>
<script src="../../bower_components/angular-resource/angular-resource.js"></script>
<script src="../../bower_components/underscore/underscore.js"></script>
<script src="../../client/directives/_directives.js"></script>
<script src="../../client/directives/followButton.js"></script>
<script src="../../client/filters/_filters.js"></script>
<script src="../../client/filters/numUtils.js"></script>
<script src="../../client/services/_services.js"></script>
<script src="../../client/services/dataProvider.js"></script>
<script src="../../client/controllers/_controllers.js"></script>
<script src="../../client/controllers/ConPageCtrl.js"></script>
<script src="../../client/controllers/detailsPageCtrl.js"></script>
<script src="../../client/directives/followSingleUser.js"></script>

</body>
</html>